<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch</title>
</head>
<body>
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    {% endfor %}
    

    <!-- {% for i in posts %}
        {% if i.status == 0 %}
            <p>This post is not published yet.</p>
        {% else %}
            <h3>{{i}}</h3>
            <p>{{i.content}}</p>
            <small>{{i.created_date}}</small>
        {% endif %}
    {% endfor %} -->
</body>
</html>

