{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch</title>
</head>
<body>
    
    <p>Number of posts: {% totalposts %}</p>
    <h4>{{tp}}</h4>
    {% for j in totalposts %}
        <p>{{ j.content|lower }}</p>
    {% endfor %}

    <!-- {% for i in posts %}
        {% if i.status == 0 %}
            <p>This post is not published yet.</p>
        {% else %}
            <h3>{{i}}</h3>
            <p>{{i.content}}</p>
            <small>{{i.created_date}}</small>
        {% endif %}
    {% endfor %} -->
</body>
</html>

